.container {
    width: 960px;
}

.navigation li {
    margin-right: 0.5em;
    border: 1px solid lightblue;
    padding: 0.5em;
    background-color:white;
}

.navigation li a {
    color: #244a61;
}

.navigation {
    padding-bottom: 0.75em;
    /*border-bottom: 1px solid lightblue;*/
}

.masthead {
    margin-bottom: 0.25em;
    margin-top: 0.5em;
}

.banner {
    background-color: #315870;
    background: linear-gradient(to bottom, #315870 0%,#113449 100%);
    padding-top: 1.5em;
    margin-bottom: 2em;
}

.banner .masthead {
    margin-top: 0;
    color:white;
}

.browse-cbl input {
    margin-right:0.5em;
}

.breadcrumbs {
    margin-top:0;
    margin-bottom: 1.5em;
    background-color: #e9e9e9;
    padding-left: 0.5em;
}

.breadcrumbs span:not(:first-child) {
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

.helper-links {
    border: 1px solid lightblue;
    padding: 1em;
    text-align:left;
}

.helper-links ul {
    list-style: none;
    padding-left:0;
    margin-top: 0;
    margin-bottom: 0;
}

.login-controls {
    color:white;
	float: right;
	margin-top: 1em;
    /*background-color: #e9e9e9;*/
    padding: 0.5em;
}

.login-controls i.fa-lock {
    color: lightblue;
    position: relative;
    top: 1px;
}

.login-controls a {
    color: lightblue;
}

.login-controls a:hover{
    color: #86cde4;
}

table label {
    margin-right: 1em;
}

td > label:first-child {
    vertical-align: middle;
    padding-bottom: 2em;
}

.events-table {
    padding: 0.5em;
    border: 1px solid lightblue;
    margin-bottom: 0.5em;
}

.events-table table {
    margin-bottom: 0;
}

.events-table table td:first-child {    
    padding-right: 1em;
}

.events-table i.fa {
    padding: 0.25em;
}

.right-box {
    text-align: left;
    margin-bottom: 1em;
}

.right-box b:first-child {
    color:gray;
}

.small-event {
    padding: 1em;
    border: 1px solid lightblue;
    margin-bottom: 0.25em;    
    text-align: left;
    line-height:1.2em;
}

.small-event p {
    margin: 0;
    padding: 0;
}

.small-event .event-title {    
    font-weight:bold;
}

.small-event .event-date {
    color: gray;
    font-size: 0.7em;
    margin-top:0.25em;
}

.small-event i.fa {
    float: left;
    padding-right: 0.5em;
}

.DDGridView td, .DDGridView th  {
    padding: 0.5em;
}

.DDGridView th {
    background-color: #eee;
}

li.dynamic {
    background-color: white;
    margin-top: -1px;
    margin-left:-1px;
    box-shadow: rgba(0,0,0,0.3) 2px 2px;
}

li.static:hover, li.dynamic:hover {
    background-color: #f0fdff;
}

th, td {
    padding: 0.25em;
}

th {
    font-weight: bold;
    background-color: #eee;
}
